.div1{
  width: 40%;
  word-break: break-all;
  border: 5px solid blue;
  float: left;
  margin-right: 20px;
  text-align: justify;
  text-align-last: center;
}
.div2{
  width: 40%;
  word-break: break-all;
  border: 5px solid blue;
  float: left;
  margin-bottom: 10px;
column-count: 3;  
column-gap: 100px;
column-rule: 10px dotted green;
}
.div3{
  clear: both;
  width: 40%;
  word-break: break-all;
  border: 5px solid blue;
}